/* Jumbotron styles
-------------------------------------------------- */

// Move down content because we have a fixed navbar that is 3.5rem tall
main {
  padding-top: 3.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;

  background-color: rgba(43, 37, 29, 0.75);
  color: #EBD8AD;
  border-bottom: 1px solid #CCAA7A;
  .container {
    font-family: 'Space Tech Mono', monospace!important;
  }
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
