/* Table styles
-------------------------------------------------- */

// Center text in table cells, except the first cell
.table tr > :not(:first-child) {
  text-align: center;
}

// Add some default spacing to table cells
.table > tbody > tr > td {
  padding: 0.8rem 1rem;
}

// Add some padding from the edge of table
.table > thead > tr > :first-child {
  padding-left: 1rem;
}

// Do not wrap text in table headers
.table > thead > th {
  white-space: nowrap;
}

table {
  thead {
    th {
      background-color: #2B251D !important;
      color: #DEC697 !important;
      border-color: #3d3429 !important;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  tbody {
    tr {
      background-color: #DEC697;
      color: #2B251D;
      border-color: #C39D81;

      &:nth-child(even) {
        background-color: #EBD8AD;
      }

      &:hover {
        background-color: #CCAA7A !important;
        color: #2B251D !important;
      }

      td {
        border-color: #C39D81 !important;
        color: #2B251D !important;
      }
    }
  }
}